/* Una versión más fuerte para cuando el fondo es muy "ruidoso" */
h2 {
    text-shadow:
        0px 0px 10px rgba(0, 0, 0, 0.9),
        2px 2px 5px rgba(0, 0, 0, 1);
    color: white;
}
/* Estilos para el header de comercio */
.encabezado-comercio {
    background:
        linear-gradient(rgba(26, 56, 87, 0.404), rgba(0, 51, 102, 0.295)),
        url("../img/comercializacion/vendedor.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    aspect-ratio: 16 / 8; /* El alto se calcula solo en base al ancho */
    min-height: 200px; /* Nunca medirá menos de esto */
    max-height: 500px;
    height: auto; /* Dejá que el aspect-ratio mande */
    border-bottom: 3px solid #e67e22;
}

.encabezado-terms {
    background:
        linear-gradient(rgba(26, 56, 87, 0.404), rgba(0, 51, 102, 0.295)),
        url("../img/terminos/terminos.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    aspect-ratio: 16 / 8; /* El alto se calcula solo en base al ancho */
    min-height: 200px; /* Nunca medirá menos de esto */
    max-height: 500px;
    height: auto; /* Dejá que el aspect-ratio mande */
    border-bottom: 3px solid #e67e22;
}

.encabezado-catalogo {
    background:
        linear-gradient(rgba(26, 56, 87, 0.404), rgba(0, 51, 102, 0.295)),
        url("../img/catalogo/catalogo.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    aspect-ratio: 16 / 8; /* El alto se calcula solo en base al ancho */
    min-height: 200px; /* Nunca medirá menos de esto */
    max-height: 500px;
    height: auto; /* Dejá que el aspect-ratio mande */
    border-bottom: 3px solid #ff9900;
}

.subtitulo-seccion {
    font-style: italic;
    font-weight: 600;
    color: #e67e22;
}

.fondo {
    background-image:
        linear-gradient(
            to bottom,
            rgba(45, 58, 39, 1) 0%,
            rgba(45, 58, 39, 0) 60%
        ),
        url("../img/bkg-img3.jpg");
    /* Técnica de fijado */
    background-attachment: fixed; /* La imagen no se mueve al hacer scroll */
    background-position: center; /* Siempre centrada */
    background-repeat: no-repeat;
    background-size: cover; /* Se estira para cubrir todo el ancho/alto */

    /* Color de fondo de respaldo por si la imagen tarda en cargar */
    background-color: #1a1a1a;
}

.product-card {
    background-color: #ffffff;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 10px;
    margin: 1rem;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.368);
}

.product-img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-card-dark {
    background-color: #ffffff;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 10px;
    margin: 1rem;
}

.product-card-dark:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(255, 145, 20, 0.477);
}
