/* Estilos para el header de comercio */
.masthead {
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding-top: 8rem;
    padding-bottom: 8rem;
    min-height: 60vh;
    height: 500px;
}

.titulo-seccion {
    font-style: italic;
    font-size: 4rem;
    font-weight: 700;
    color: white;
    text-shadow: 3px 3px 10px #222;
}

.subtitulo-seccion {
    font-style: italic;
    font-size: 3rem;
    font-weight: 600;
    color: #2d4030;
}

.dev-card {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 20px;
}

.dev-card:hover {
    transform: scale(1.05);
    background: #ffffff;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
