/* Fondo personalizado */
.navbar-plomada {
    background-color: #003366; /* Azul oscuro náutico */
    border-bottom: 3px solid #ff9900; /* Un detalle en naranja como una boya */
    padding: 1rem 2rem;
}

/* Cambiar el color de los links */
.navbar-plomada .nav-link {
    color: #ffffff !important;
    font-weight: 500;
    transition: 0.3s;
}

/* Efecto al pasar el mouse (hover) */
.navbar-plomada .nav-link:hover {
    color: #ff9900 !important;
    transform: translateY(-2px); /* Un pequeño salto */
}

/* El nombre de la marca */
.navbar-plomada .navbar-brand {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
